
<section class="page_404">
    <div class="container">
      <div class="row"> 
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg">
        <h1>
            Oops! </h1>
        
      
      
      </div>
      
      <div class="contant_box_404">
       <h2>
                    404 Not Found</h2>
      
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
    </div>
      
      <div class="error-actions">
        <button type="button" class="btn btn-primary btn-lg" (click)=" navigateToFirst()  ">   Take Me Home</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="  navigateToSecond()   ">   Contact Support </button>
        
    </div>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>