
<div class="box" >
    <div *ngFor="let pub of produits" >
        <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>

<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div>
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div>
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div *ngFor="let pub of produits" >
    <img   [src]="pub.image"   alt="NOT FOUNG..." width="100px"   >
</div>
<div>
</div>
<div>
</div>
<app-singin></app-singin>
<br><br>
<app-singup></app-singup>
</div>

<!--<button class="toggle-button"  igxButton="raised" [igxToggleAction]="toggleRef">Toggle</button>
<div class="toggle-content" igxToggle #toggleRef="toggle">
    <section class="toggle-section">
        <app-singin></app-singin>
 
    </section>
</div>-->
